<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/log.css">
    <link href="assets/img/favicon.png" rel="icon">
</head>
<body>
    <div class="login-box">
        <div class="img-center">
        <img src="/assets/img/enter.png" alt="login-user" height="70px" width="70px">  
        <h2 style="padding-left: 5%;">Login</h2></div> 
        <form action="/login" method="post">
          <div class="user-box">
            <input type="text" name="username" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
          </div> 
          <input id="sub" type="submit" value="Login">
          <p style="color: rgb(176, 0, 0);"> <%= message %> </p>
        </form>
      </div>
    
    </body>
    </html>
    







